<div class="container_sidebar">
    <div class="user_info">
        <img src="assets/images/users.png" alt="user_logo">
        <h1>Usuario</h1>
    </div>
    <div class="sidebar_options">
        <ul>
            <li>
                <a routerLink="/empleados">Reporte Empleados</a>
            </li>
            <li>
                <a routerLink="/descuentos">Reporte Descuentos</a>
            </li>
            <li>
                <a routerLink="/devengos">Reporte Devengos</a>
            </li>
            <li>
                <a routerLink="/ingresoEmpleados">Ingreso Empleados</a>
            </li>
            <li>
                <a routerLink="/estadisticas">Estadísticas</a>
            </li>
        </ul>
    </div>
    <div class="logout">
        <ul>
            <li>
                <a routerLink="/estadisticas">Soporte usuario</a>
            </li>
            <li>
                <a routerLink="/login">Sign off</a>
            </li>
        </ul>
    </div>
</div>