<div class="container">
    <section class="login_container">
        <h1>Login</h1>
        <div class="login-options">
            <input type="text" name="" id="" placeholder="Username">
            <input type="password" name="" id="" placeholder="Password">
        </div>
        <div class="password_options">
            <div class="checkbox_options">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Remember me</label>
            </div>
            <a href="http://" target="_blank" rel="noopener noreferrer">Forgot Password</a>
        </div>
        <div class="button">
            <a class="sign_in_button" href="http://" target="_blank" rel="noopener noreferrer">Sign In</a>
        </div>
    </section>
    <section class="banner_container">
        <h1>Nómina</h1>
        <img src="assets/images/imagen_login.png" alt="login-image">
    </section>
</div>