.container_empleados {
  display: flex;
  height: 100vh;
}

.cabecera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  /* padding: 20px; */
  border-bottom: 1px solid #6460e9;
}

.info_empleados {
  flex: 1;
  background-color: #f8f8f8;
  height: 100vh; /* o el valor que desees */
  overflow: hidden; /* Oculta el scroll del contenedor principal */
}

h1 {
  color: #6460e9;
  margin-left: 30px;
}

.estadisticas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow-y: auto; /* Añade scroll vertical solo cuando sea necesario */
  max-height: calc(100vh - 100px);
}

.grafica {
  min-width: 300px;
  width: 48.5%;
  height: 500px;
}
